html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "DotGothic16", Helvetica, Arial, sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard */
}

body {
    position: relative;
}

#div1 p, #info-container p {
    -webkit-user-select: text; /* Safari */
    -moz-user-select: text;    /* Firefox */
    -ms-user-select: text;     /* Internet Explorer/Edge */
    user-select: text;         /* Standard */
}

#div1 {
    z-index: 3;
    background-color: none;
}

#caption {
    display: none;
    position: fixed;
    text-align: center;
    margin: 0; 
    z-index: 4; 
    color: black;
    white-space: nowrap;
    width: 100%;
    top: 70%;
}

#info-container {
    display: none;
}

#info-button {
    position: absolute;
    z-index: 2;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

#info-button:hover {
    color: #39FF00;
}

#info-content {
    top: 46px;
    margin: 5px;
    padding: 10px;
    display: none;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    z-index: 2;
}

#info-content.show {
    position: absolute;
    display: block;
}

#info-content p {
    width: 300px;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

#close {
    line-height: 1;
    margin: 0px;
    padding: 0px;
    font-family: 'Arial';
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
    float: right;
    color: black;
}

@media (width < 500px) {
    #info-container {
        font-size: 9.75px;
    }

    #info-button {
        padding: 7.5px 15px;         
        margin: 3.75px;              
    }
    
    #info-content {
        top: 34.5px;                
        margin: 3.75px;              
        padding: 7.5px;              
        border: 1px solid black;
        box-shadow: 1.5px 1.5px 3.75px rgba(0,0,0,0.2);  
    }
    
    #info-content p {
        width: 225px;               
        padding: 0px;
        margin: 15px 0px 0px 0px;    
    }
    
    #close {
        line-height: 1;
        font-size: 15px;              
    }
}